<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/Project.css">
    <link rel="stylesheet" href="assets/css/Home.css">
    <title>Mes Projets</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/Project">Projets</a></li>
                <li><a href="/AboutUs">À propos</a></li>
                <li><a href="/Contact">Contact</a></li>
                {{if .IsAdmin}}
                <li><a href="/Message">Message</a></li>
                <li><a href="/Adding">Adding</a></li>
                <li><a href="/Logout">{{.Username}}</a></li>
                {{else}}
                <li><a href="/Login">Login</a></li>
                {{end}}
            </ul>
        </nav>
    </header>

    <!-- Formulaire pour les projets -->
    <section id="projects" class="section">
        <h2>Mes Projets</h2>
        {{if .IsAdmin}}
        <div id="admin-form-container">
            <h3>Ajouter un Projet</h3>
            <form action="/Project" method="post">
                <label for="project-title">Titre du Projet:</label>
                <input type="text" id="project-title" name="project-title" placeholder="Titre du Projet" required><br><br>
                
                <label for="project-description">Description:</label>
                <textarea id="project-description" name="project-description" placeholder="Description du Projet" required></textarea><br><br>
                
                <label for="project-image">Image:</label>
                <input type="text" id="project-image" name="project-image" placeholder="URL de l'image" required><br><br>
                
                <label for="project-link">Lien:</label>
                <input type="url" id="project-link" name="project-link" placeholder="Lien du Projet" required><br><br>
                
                <button type="submit">Enregistrer le Projet</button>
            </form>
        </div>
        {{end}}
    </section>

    <section id="about" class="section">
        <h2>Modifier "À propos de moi"</h2>
        <form action="/Adding" method="post">
            <label for="content">Contenu :</label>
            <textarea id="content" name="content" rows="5" placeholder="Contenu de la section À propos de moi" required></textarea><br><br>
            <button type="submit">Enregistrer</button>
        </form>
    </section>

    <!-- Formulaire pour les compétences -->
    <section id="skills" class="section">
        <h2>Mes Compétences</h2>
        <div class="skills-container">
            <form action="/Adding" method="post">
                <label for="TitleCompetence">Titre :</label>
                <input type="text" id="TitleCompetence" name="TitleCompetence" placeholder="Titre de la compétence" required><br><br>

                <label for="ContentCompetence">Contenu :</label>
                <input type="text" id="ContentCompetence" name="ContentCompetence" placeholder="Contenu de la compétence" required><br><br>

                <button type="submit">Enregistrer la compétence</button>
            </form>
        </div>
    </section>

    <!-- Formulaire pour l'expérience -->
    <section id="experience" class="section">
        <h3>Ajouter une Nouvelle Expérience</h3>
        <form id="experience-form" method="post" action="/Adding">
            <label for="experienceTitle">Titre de l'expérience :</label>
            <input type="text" id="experienceTitle" name="experienceTitle" placeholder="Titre de l'expérience" required><br><br>
            
            <label for="experienceDescription">Description de l'expérience :</label>
            <textarea id="experienceDescription" name="experienceDescription" placeholder="Description de l'expérience" required></textarea><br><br>
            
            <button type="submit">Ajouter</button>
        </form>
    </section>

    <footer>
        <p>&copy; 2024 Mon Portfolio</p>
    </footer>

    <script src="assets/js/Project.js"></script>
</body>
</html>
