<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/Home.css">
    <title>Mon Portfolio</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                
            </ul>
        </nav>
    </header>
    <div id="confirmation">
        <h2>Merci pour votre message !</h2>
        <p>Je vous répondrai dans les plus brefs délais.</p>
    </div>
    <footer>
        <p>&copy; 2024 Mon Portfolio</p>
    </footer>

    <script src="assets/js/Home.js"></script>
</body>
</html>
