<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="Background">
        <div class="navbar">
            <ul>
                <li><a href="home.html">Home Page</a></li>
                <li><a href="AboutUs.html">About Me</a></li>
                <li>My Projects</li>
                <li><a href="contacts.html">Contacts</a></li>
            </ul>
        </div>
        <div class="contents">
            <div class="left-column">
                <h1 class="animated-text">Welcome To My Portfolio!</h1>
            </div>
            <div class="menu-items">
                <p>Musique</p>
                <p>Dev Web</p>
                <p>CreaDesign</p>
            </div>  
            <div class="image-container">
                <a href="musique.html"><img src="https://img.freepik.com/premium-photo/fashionable-headphones-with-neon-light_175682-14405.jpg" class="logo"></a>
                <img src="https://www.tice-education.fr/images/stories/img/florian-olivo-4hbJ-eymZ1o-unsplash.jpg" class="logo">
                <img src="https://img.freepik.com/photos-gratuite/concepts-conception-web-arriere-plan-flou_1134-82.jpg" class="logo"> 
            </div> 
        </div>
    </div>
    <div class="next-page">
        <a href="AboutUs.html" class="next-button">Next Page</a>
    </div>  
    <script src="js/script.js"></script>
</body>
</html>
