<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/Home.css">
    <title>Mon Portfolio</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/Project">Projets</a></li>
                <li><a href="/AboutUs">À propos</a></li>
                <li><a href="/Contact">Contact</a></li>
                {{if .IsAdmin}}
                <li><a href="/Message">Message</a></li>
                <li><a href="/Adding">Adding</a></li>
                <li><a href="/Logout">{{.Username}}</a></li>
                {{else}}
                <li><a href="/Login">Login</a></li>
                {{end}}
            </ul>
        </nav>
    </header>
    
    <section id="home" class="section">
        <h1>Bienvenue sur mon portfolio</h1>
        <p>Développeur Web passionné, prêt à transformer vos idées en réalité numérique.</p>
    </section>

    <section id="Philosophie" class="section">
        <h2>Ma Philosophie</h2>
        <p>Je crois en l'importance de l'innovation constante, de la collaboration, et de l'apprentissage continu. 
        Chaque projet est une opportunité d'explorer de nouvelles technologies et d'apporter des solutions uniques à des défis complexes.</p>
    </section>

    <section id="home" class="section">
        <h2>Expériences Uniques</h2>
        <p>En tant que développeur, j'ai eu la chance de travailler sur des projets variés qui m'ont permis d'acquérir des compétences techniques solides, 
        tout en développant une compréhension approfondie des besoins des utilisateurs finaux.</p>
    </section>

    <section id="passions" class="section">
        <h2>Mes Passions</h2>
        <ul>
            <li>Développement Web : Création d'expériences utilisateurs captivantes.</li>
            <li>Photographie : Capture de moments uniques à travers l'objectif.</li>
            <li>Musique : Mélodies inspirantes qui nourrissent la créativité.</li>
        </ul>
    </section>

    <section id="home" class="section">
        <h2>Mon Engagement envers la Qualité</h2>
        <p>Je m'efforce de livrer des solutions de haute qualité, en respectant les meilleures pratiques de développement, 
        afin d'assurer la performance, la sécurité et la maintenabilité de chaque projet.</p>
    </section>

    <footer>
        <p>&copy; 2024 Mon Portfolio</p>
    </footer>

    <script src="assets/js/Home.js"></script>
</body>
</html>
