<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/Home.css">
    <title>Mon Portfolio</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/Project">Projets</a></li>
                <li><a href="/AboutUs">À propos</a></li>
                <li><a href="/Contact">Contact</a></li>
                {{if .IsAdmin}}
                <li><a href="/Message">Message</a></li>
                <li><a href="/Logout">{{.Username}}</a></li> <!-- Lien de déconnexion -->
                {{else}}
                <li><a href="/Login">Login</a></li>
                {{end}}
            </ul>
        </nav>
    </header>
    

    <section id="home" class="section">
        <h1>Bienvenue sur mon portfolio</h1>
        <p>Développeur Web passionné, prêt à transformer vos idées en réalité numérique.</p>
        <button onclick="scrollToSection('projects')">Voir mes projets</button>
    </section>

    <section id="projects" class="section">
        <section id="projects" class="section">
            <h2>Mes Projets</h2>
            <div id="project-list" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
                <!-- Les projets seront ajoutés ici par JavaScript -->
            </div>
        </section>
        
        
    </section>

    <section id="about" class="section">
        <h2>À propos de moi</h2>
        <p>Je suis un développeur passionné par le développement web et l'intelligence artificielle. Je suis toujours curieux d'apprendre de nouvelles technologies et de relever de nouveaux défis.</p>
    </section>

    <section id="contact" class="section">
        <h2>Contactez-moi</h2>
        <form id="contact-form">
            <input type="text" id="name" placeholder="Votre nom" required>
            <input type="email" id="email" placeholder="Votre email" required>
            <textarea id="message" placeholder="Votre message" required></textarea>
            <button type="submit">Envoyer</button>
        </form>
    </section>

    <footer>
        <p>&copy; 2024 Mon Portfolio</p>
    </footer>

    <script src="assets/js/Home.js"></script>
</body>
</html>
