<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/Message.css">
    <link rel="stylesheet" href="assets/css/Home.css">
    <title>Mes Messages</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/Project">Projets</a></li>
                <li><a href="/AboutUs">À propos</a></li>
                <li><a href="/Contact">Contact</a></li>
                {{if .IsAdmin}}
                <li><a href="/Message">Message</a></li>
                <li><a href="/Adding">Adding</a></li>
                <li><a href="/Logout">{{.Username}}</a></li>
                {{else}}
                <li><a href="/Login">Login</a></li>
                {{end}}
            </ul>
        </nav>
    </header>

    <section id="Message" class="section">
        <h2>Messages :</h2>
        <ul>
            {{range .Messages}}
            <li>
                <strong>{{.Name}} ({{.Email}})</strong>
                <p><strong>Sujet :</strong> {{.Subject}}</p>
                <p>{{.Message}}</p>
            </li>
            {{end}}
        </ul>
    </section>

    <footer>
        <p>&copy; 2024 Mon Portfolio</p>
    </footer>
</body>
</html>
